# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

**/__tests__
ts-plugin/src/__tests__/__fixtures__
